
@{
    ViewBag.Title = "IncidentNew";
    Layout = "~/Views/Layout.cshtml";
    CallManagement.Models.ViewModel.ModelRequest request = ViewBag.ModelRequest;
}

<style>
    th {
        color: white;
        text-align: center;
    }

    td {
        text-align: center;
    }
</style>

<h2>Closing Request</h2>
<hr />
<div class="row">
    <div class="col-xs-4">
        <h4>Request Informations</h4>
    </div>
</div>
<br />
<form action="@Url.Action("ClosingRequest","Request")" method="post" id="formLabel" enctype="multipart/form-data">
    <input id="dataProperties" name="DataProperties" hidden />
    <div class="row">
        <div class="col-xs-2">
            <label>Request Number</label>
            <input readonly="" type="text" class="form-control" name="CallerRequest" id="CallerRequest" required autocomplete="off" value="@request.NumberRequest" />
        </div>
        <div class="col-xs-4">
            <label>Requested By</label>
            <input readonly="" type="text" class="form-control" name="Caller" id="Caller" required autocomplete="off" value=" @request.RequestFor" />
        </div>

        <div class="col-xs-2">
            <label>Signed To</label>
            <input readonly="" type="text" class="form-control" name="idNameTecRequest" id="idNameTecRequest" value="@request.Tecnico" required autocomplete="off">
        </div>
    </div>
    <br />

    <br />

    <div class="row">
        <div class="col-xs-6">
            <label>Short Description</label>
            <input readonly="" type="text" class="form-control" id="ShortDescription" name="ShortDescription" required autocomplete="off" value="@request.ShortDescription" />
        </div>
    </div>

    <br />

    <br />

    <div class="row">
        <div class="col-xs-8">
            <label>Work Notes</label>
            <input type="text" class="form-control" id="WorkNotes" name="WorkNotes" required autocomplete="off" value="@request.WorkNotes" />
        </div>
        <div class="col-xs-2">
            <button type="submit" style="margin-left:-10px;margin-top:24px;" class="btn btn-primary" id="btnClose">Close Request <i class="fa fa-close"></i></button>
        </div>
        <div class="col-xs-2">
            <a href="@Url.Action("AllRequest","Request")" type="submit" style="margin-left:-10px;margin-top:24px;" class="btn btn-primary">Back <i class="fa fa-arrow-left"></i></a>
        </div>
    </div>
</form>
<br />

<script src="~/Scripts/Request/CloseRequest.js"></script>


