
@{
    ViewBag.Title = "IncidentNew";
    Layout = "~/Views/Layout.cshtml";
    CallManagement.Models.ViewModel.ModelRequest request = ViewBag.ModelRequest;
}

<style>
    th {
        color: white;
        text-align: center;
    }

    td {
        text-align: center;
    }
</style>

<h2>Edit Request</h2>
<hr />
<div class="row">
    <div class="col-xs-4">
        <h4>Request Informations</h4>
    </div>
</div>
<br />
<form action="@Url.Action("AlterRequest","Request")" method="post" id="formLabel" enctype="multipart/form-data">
    <input id="dataProperties" name="DataProperties" hidden />
    <div class="row">
        <div class="col-xs-2">
            <label>Request Number</label>
            <input type="text" class="form-control" name="CallerRequest" id="CallerRequest" required autocomplete="off" value="@request.NumberRequest"/>
        </div>
        <div class="col-xs-4">
            <label>Requested By</label>
            <input type="text" class="form-control" name="Caller" id="Caller" required autocomplete="off" value=" @request.RequestFor"/>
        </div>

        <div class="col-xs-2">
            <label>Technician ID</label>
            <select type="text" class="form-control" name="idTecnicoRequest" id="idTecnicoRequest" required autocomplete="off">
            </select>
        </div>
    </div>
    <br />

    <br />

    <div class="row">
        <div class="col-xs-3">
            <label>Technician Name</label>
            <select type="text" class="form-control" name="idNameTecRequest" id="idNameTecRequest" required autocomplete="off">
            </select>
        </div>
        <div class="col-xs-6">
            <label>Short Description</label>
            <input type="text" class="form-control" id="ShortDescription" name="ShortDescription" required autocomplete="off" value="@request.ShortDescription"/>
        </div>
    </div>

    <br />

    <br />

    <div class="row">
        <div class="col-xs-8">
            <label>Work Notes</label>
            <input type="text" class="form-control" id="WorkNotes" name="WorkNotes" required autocomplete="off" value="@request.WorkNotes"/>
        </div>
        <div class="col-xs-2">
            <button type="submit" style="margin-left:-10px;margin-top:24px;" class="btn btn-primary" id="btnAdd">Sign to me <i class="fa fa-plus"></i></button>
        </div>
    </div>
</form>
<br />


