
@{
    ViewBag.Title = "AllEmployee";
    Layout = "~/Views/Layout.cshtml";
    List<CallManagement.Models.ViewModel.ModelEmployee> employees = ViewBag.ModelEmployee;


}

<link rel="stylesheet" href="~/assets/js/plugins/datatables/jquery.dataTables.css">
<link href="~/assets/js/plugins/datatables/buttons.dataTables.min.css" rel="stylesheet" />
<link href="~/assets/js/plugins/datatables/buttons.jqueryui.css" rel="stylesheet" />
<link href="~/assets/js/plugins/datatables/buttons.foundation.css" rel="stylesheet" />
<script src="~/assets/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/assets/js/plugins/datatables/dataTables.buttons.js"></script>
<script src="~/assets/js/plugins/datatables/buttons.jqueryui.js"></script>
<script src="~/assets/js/plugins/datatables/buttons.flash.js"></script>
<script src="~/assets/js/plugins/datatables/buttons.print.js"></script>
<script src="~/assets/js/plugins/datatables/buttons.semanticui.js"></script>
<script src="~/assets/js/plugins/datatables/jszip.min.js"></script>
<script src="~/assets/js/plugins/datatables/buttons.html5.js"></script>
<script src="~/assets/js/plugins/datatables/buttons.semanticui.js"></script>
<script src="~/assets/js/plugins/datatables/pdfmake.js"></script>
<script src="~/assets/js/plugins/datatables/vfs_fonts.js"></script>

<style>
    th {
        color: white;
        text-align: center;
    }

    td {
        text-align: center;
    }
</style>



<h2>All Users</h2>
<hr />
<div class="row">
    <div class="col-xs-4" style="margin-left:10px;">
        <a href="@Url.Action("CreateEmployee","Employee")" class="btn btn-default">Create New <i class="fa fa-plus"></i></a>
    </div>
    <div class="col-xs-3" style="margin-left:75%;margin-top:-8px;">
        <form action="@Url.Action("AllEmployee","Employee")" method="post">
            <div class="input-group input-group-lg">
                <input class="form-control" type="text" id="searchIncident" name="searchIncident" placeholder="Search">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-12">
        <table class="table table-bordered">
            <thead class="bg-default">
                <tr>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Login</th>
                    <th>User Type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in employees)
                {
                    <tr>
                        <td>@p.Name</td>
                        <td>@p.Departament</td>
                        <td>@p.SeriaNumber</td>
                        <td>@p.IsTecnic</td>
                        <td>@p.Password</td>

                        <td><a href="@Url.Action("EditEmployee","Employee",new { SerialNumber = p.SeriaNumber})" class="btn btn-info"><i class="fa fa-edit"></i></a></td>
                        <td><a href="@Url.Action("CloseIncident","Incident",new { SerialNumber = p.SeriaNumber})" class="btn btn-danger"><i class="fa fa-close"></i></a></td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script src="~/Scripts/Label/IndexAll.js"></script>
<script src="~/assets/js/pages/base_tables_datatables.js"></script>