
@{
    ViewBag.Title = "IncidentNew";
    Layout = "~/Views/Layout.cshtml";
    CallManagement.Models.ViewModel.ModelIncidents incident = ViewBag.ModelIncidents;

}

<style>
    th {
        color: white;
        text-align: center;
    }

    td {
        text-align: center;
    }
</style>

<h2>Closing Incident</h2>
<hr />
<div class="row">
    <div class="col-xs-4">
        <h4>Incident Informations</h4>
    </div>
</div>
<br />
<form action="@Url.Action("ClosingIncident","Incident")" method="post" id="formLabel" enctype="multipart/form-data">
    <input id="dataProperties" name="DataProperties" hidden />
    <div class="row">
        <div class="col-xs-2">
            <label>Incident Number</label>
            <input readonly="" type="text" class="form-control" name="NumberIncident" id="NumberIncident"  required autocomplete="off" value="@incident.NumberIncident"/>
        </div>
        <div class="col-xs-4">
            <label>Requested By</label>
            <input readonly="" type="text" class="form-control" name="Caller" id="Caller" required autocomplete="off" value="@incident.Caller"/>
        </div>

        <div class="col-xs-2">
            <label>Signed To </label>
            <input readonly="" type="text"  class="form-control" name="idNameTec" id="idNameTec" value="@incident.Tecnico" required autocomplete="off">
        </div>
    </div>
    <br />

    <br />

    <div class="row">
        <div class="col-xs-6">
            <label>Short Description</label>
            <input readonly="" type="text" class="form-control" id="Description" name="Description" required autocomplete="off" value="@incident.Description"/>
        </div>
    </div>
    <br />

    <br />

    <div class="row">
        <div class="col-xs-8">
            <label>Work Notes</label>
            <input readonly="" type="text" class="form-control" id="WorkNotes" name="WorkNotes" required autocomplete="off"value="@incident.WorkNotes" />
        </div>
    </div>

    <br />

    <br />

    <div class="row">
        <div class="col-xs-8">
            <label>Resolution Information</label>
            <input required autocomplete="off" type="text" class="form-control" id="ResolutionInformation" name="ResolutionInformation"  value="@incident.ResolutionInformation"/>
        </div>
        <div class="col-xs-2">
            <button type="submit" style="margin-left:-10px;margin-top:24px;" class="btn btn-primary" id="btnClose">Close Incident <i></i></button>
        </div>
        <div class="col-xs-2">
            <a href="@Url.Action("AllIncident","Incident")" type="submit" style="margin-left:-10px;margin-top:24px;" class="btn btn-primary" >Back <i class="fa fa-arrow-left"></i></a>
        </div>
    </div>
</form>
<br />

<script src="~/Scripts/Incident/CloseIncident.js"></script>


